<h1> Welcome to the Dashboard </h1>

<div>
    <h3>Total Budget: {{dashboard.totalBudget}}</h3>
</div>
<div>
    <h3>Total Expense: {{dashboard.totalExpense}}</h3>
</div>
<div>
    <h3>Remaining Budget: {{dashboard.remainingBudget}}</h3>
</div>
<div>
    <h3>Current Month Expenses: {{dashboard.currentMonthExpense}}</h3>
</div>


<button (click)="logout()">Logout </button>

<button routerLink="/category">Category</button>

<button routerLink="/budgets">Budget</button>

<button routerLink="/expense">Expense</button>

