<h2>Welcome to the Expense Page</h2>

<h3>Total expense</h3>

<div> 
    <select [(ngModel)]="selectedCategory" name="category">
        <option [ngValue]="null">Select a category</option>
        <option *ngFor="let c of categories" [ngValue]="c.categoryId">
            {{ c.categoryName }}
        </option>
    </select>



    <input type="number" name="amount" [(ngModel)]="expense.amount" placeholder="Enter expense amount">
    <input type="text" name="description" [(ngModel)]="expense.description" placeholder="Enter expense description">
    <input type="date" name="expenseDate" [(ngModel)]="expense.expenseDate" placeholder="Enter expense date">

    <button (click)="saveExpense()">Save Expense</button>
    <button (click)="reset()">Reset</button>
</div>

<table border="1">
    <thead>
        <tr>
            <th>Expense ID</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let expense of expenses">
            <td>{{ expense.expenseId}}</td>
            <td>{{ expense.categoryName }}</td>
            <td> {{ expense.amount }}</td>
            <td> {{ expense.description }}</td>
            <td> {{ expense.expenseDate | date }}</td>
        </tr>
    </tbody>
</table>